    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins',sans-serif;
        box-sizing: border-box;
        background-color: rgb(32, 106, 152);
        
    }
    .container{
        margin: 12%;
        width: 90%;
        max-width: 500px;
        font-size: 25px;
        color: white;
    }
    .container h1 span{
        font-weight: 150px;
        font-size:40px ;
        color: aqua;
        text-decoration: underline;
    }
    .display{
        margin-top: 20px;
        height: 50px;
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 5px;
    }
    .display input{
        height: 50px;
        background-color: white ;
        border: none;
        font-size: 20px;
        padding: 15px;
        border-radius: 5px;
        width: 100%;
        font-weight: 50;
    }
    .display img{
        height: 42px;
        background-color: white;
        padding: 8px;
        margin-left: 4px;
    }
    .display button{
        border: none;
        background-color: white;
        cursor: pointer;
    }
    .btng{
        cursor: pointer;
        margin-top: 20px;
       border: none;
       background-color: green;
       height: 50px;
       width: 40%;
       border-radius: 5px;
       font-size: 18px;
       padding-bottom: 4px;
       color: white;
    }
    .geni{
        height: 25px;
        background-color:green;
        margin-right: 4px;
        margin-top: 3px;
    }